<header class="action-header"><%= @workspace %> » <%= @grid %></header>
<table class="form">
  <% if user_signed_in? and @grid.can_create_data?(@filters) %>
    <tr>
      <td class="header"></td>
      <td class="string actions"> 
        <span title="<%= t 'actions.create_column_help' %>" class="mini-button add-button">
          <a id="new-column-grid-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>">
            <%= t 'actions.create_column' %>
          </a>
        </span>
      </td>
    </tr>
    <script>
      $("#new-column-grid-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").click(function (event){
        var left = $("#document").offset().left+5;
        var width = $("#document").width()-35;
        $("#dialog").
          html('<%= escape_javascript(render :partial => "layouts/loading") %>').
          css({left:left, width:width}).
          load("<%= url_for(new_path(:grid => COLUMN_UUID,
                                     :filters => [{
                                       :column_uuid => COLUMN_GRID_UUID,
                                       :row_uuid => @grid.uuid,
                                       :row_name => @grid.name}])) %>");
      });
    </script>
  <% end %>
  <% if not @columns.empty? %>
    <% for column in @columns %>
      <tr>
        <td class="header"><%= column %></td>
        <td class="string actions"> 
          <span title="<%= t 'actions.update_help' %>" class="mini-button edit-button">
            <a id="edit-column-<%= column.uuid %>"><%= t 'actions.update' %></a>
          </span>
        </td>
      </tr>
      <script>
        $("#edit-column-<%= column.uuid %>").click(function (event){
          var left = $("#document").offset().left+5;
          var width = $("#document").width()-35;
          $("#dialog").
            html('<%= escape_javascript(render :partial => "layouts/loading") %>').
            css({left:left, width:width}).
            load("<%= url_for(edit_path(:grid => COLUMN_UUID,
                                        :row => column.uuid)) %>");
        });
      </script>
    <% end %>
  <% end %>
</table>
<footer class="actions">
  <br/>
  <span class="button cancel-button"><a id="cancel-dialog"><%= t 'actions.cancel' %></a></span>
</footer>
<script>
  $("#cancel-dialog").click(function (event){
    $("#document, #document article").removeClass("disabled");
    $("a").attr('class', 'enabled');
    $("#dialog").hide(300);
  });
</script>