<header class="action-header"><%= @workspace %> » <%= @grid %></header>
<%= form_tag(save_attachment_path(:grid => @grid.uuid, :row => @row.uuid),
             :multipart => true,
             :target => "target-dialog",
             :id => 'attach-form') do %>
  <table class="form">
    <tr>
      <td class="header"><%= t 'field.file' %></td>
      <td class="string"><%= file_field_tag :document %></td>
    </tr>
  </table>
  <div class="validation-error"></div>
  <footer class="actions">
    <span class="button cancel-button"><a id="cancel-dialog"><%= t 'actions.cancel' %></a></span>
    <span class="button"><%= submit_tag t('actions.attach'), :id => "ok-dialog" %></span>
  </footer>
<% end %>
<iframe id="target-dialog" style="display: none;"></iframe>
<script>
  $("#cancel-dialog").click(function (event){
    $("#document, #document article").removeClass("disabled");
    $("a").attr('class', 'enabled');
    $("#dialog").hide(300);
  });
  $("#target-dialog").load(function (event){
    var ok = $("#target-dialog").contents().find("#ok");
    if(ok.length == 0) {
      var errors, errorText;
      try {errors = $.parseJSON($("#target-dialog").contents().text());}
      catch(err) {errors = {message: err};}
      errorText = "<ul>";
      for(error in errors) {
        errorText += "<li>" + errors[error] + "</li> ";
        $("#header-" + error).addClass("field_with_errors");
      }
      errorText += "</ul>";
      $("#attach-form").find('div.validation-error').html(errorText).addClass("error_explanation");
    }
    else {
      $("#attachments-<%= @row.uuid %>").load("<%= url_for(attachments_path(:grid => @grid.uuid,
                                                                            :row => @row.uuid)) %>");
      if ($("#more-button").attr('checked')) {
        $("#more-content").load("<%= url_for(details_path(:grid => @grid.uuid,
                                                          :row => @row.uuid)) %>");
      }
      $("#document, #document article").removeClass("disabled");
      $("a").attr('class', 'enabled');
      $("#dialog").hide(300);
    }
  });
</script>