<table>
  <tbody>
    <tr>
      <td class="header"><%= t 'field.version' %></td>
      <td class="string"><%= @row.version %></td>
    </tr>
    <tr>
      <td class="header"><%= t 'field.revision' %></td>
      <td class="string"><%= @row.revision %></td>
    </tr>
    <% if @row.has_begin? %>
      <tr>
        <td class="header"><%= t 'field.begin_date' %></td>
        <td class="string">
          <%= display_begin_date(@row.begin) %>
          <small><%= display_distance_date(@row.begin) %></small>
        </td>
      </tr>
    <% end %>
    <% if @row.has_end? %>
      <tr>
        <td class="header"><%= t 'field.end_date' %></td>
        <td class="string">
          <%= display_end_date(@row.end) %>
          <small><%= display_distance_date(@row.end) %></small>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="header"><%= t 'field.created' %></td>
      <td class="string">
        <%= l @row.created_at %>
        <small>
          <%= display_created_time_by(@row, @row.who_created, @row.create_user_uuid).html_safe %>
        </small>
      </td>
    </tr>
    <% if @row.was_updated? %>
      <tr>
        <td class="header"><%= t 'field.updated' %></td>
        <td class="string">
          <%= l @row.updated_at %>
          <small>
            <%= display_updated_time_by(@row, @row.who_updated, @row.update_user_uuid).html_safe %>
          </small>
        </td>
      </tr>
    <% end %>
    <% if @row.has_attachment? %>
      <tr>
        <td class="header"><%= t 'field.attachments' %></td>
        <td class="string">
          <ul>
            <% for document in @row.attachments %>
              <li>
                <% if document.photo? %>
                  <%= link_to document.document.url do %><%= image_tag document.document(:micro) %><% end %>
                  <%= document.document_file_name %>
                <% else %>
                  <%= link_to document.original_file_name, document.document.url %>
                <% end %>
                <small>
                  (<%= number_to_human_size document.document_file_size %>)
                  <%= display_created_time_by(document, document.who_created, document.create_user_uuid).html_safe %>
                  <%= display_new(document.document_updated_at) %>
                </small>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if @versions.present? %>
      <tr>
        <td class="header"><%= t 'field.history' %></td>
        <td class="string">
          <ul>
          <% for row in @versions %>
            <li>
              <%= link_to information(row, true),
                          show_path(:workspace => @grid.workspace_uuid,
                                    :grid => @grid.uuid,
                                    :row => row.uuid) %>
              <%= truncate_html(row.description).html_safe %>
              <small><%= display_updated_date(row).html_safe %></small>
            </li>
          </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @grid.has_translation? and @locales.present? %>
      <tr>
        <td class="header"><%= t 'field.languages' %></td>
        <td class="string">
          <ul>
            <% for row in @locales %>
              <li>
                <%= link_to get_language(row.base_locale), 
                            show_path(:workspace => @grid.workspace_uuid,
                                      :grid => @grid.uuid,
                                      :row => row.uuid,
                                      :locale => row.base_locale) %>
                <%= row.name %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <% if @audits.present? %>
      <tr>
        <td class="header"><%= t 'field.audit' %></td>
        <td class="string">
          <ul>
            <% for row in @audits %>
              <li>
                <%= row.kind_name.html_safe %>
                <small>
                  <%= display_updated_time_by(row, row.who_updated, row.update_user_uuid).html_safe %>
                </small>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="header"><%= t 'field.uuid' %></td>
      <td class="string"><%= @row.uuid %></td>
    </tr>
  </tbody>
</table>