<header class="action-header">
  <%= @workspace %> » <%= @grid %>
  <% if not new_row%> » <%= @row %><% end %>
</header> 
<small>
  <% if @row.was_updated? %><%= display_updated_date(@row).html_safe %><% end %>
</small>
<%= form_tag(new_row ?
              create_path(:grid => @grid.uuid, :filters => @filters) :
              update_path(:grid => @grid.uuid, :row => @row.uuid, :filters => @filters),
             :remote => true,
             :id => 'edit-inline-form') do |f| %>
  <%= hidden_field_tag "container", @container %>
  <%= hidden_field_tag "refresh_list", @refresh_list if @refresh_list.present? %>
  <div class="validation-error"></div>
  <table class="form">
    <% if @grid.has_translation? and @grid.has_name? %>
      <tr id="header-name">
        <td class="header">
          <%= label_tag :name, t('field.name'), :class => "required" %>
        </td>
        <td class="string">
          <%= text_field_tag :name, @row_loc.name, :size => "70x1" %>
        </td>
      </tr>
    <% end %>
    <% for column in @grid.column_all %>
      <% description = column.description.present? ? 
          ("<span title='#{column.description}'> " + icon("information") + "</span>") : 
          "" %>
      <%= edit_entity(@row, column, description) %>
    <% end %>
    <% if @grid.has_translation? and @grid.has_description? %>
      <tr id="header-description">
        <td class="header">
          <%= label_tag :description, t('field.description') %>
        </td>
        <td class="string">
          <%= text_area_tag :description, @row_loc.description, :size => "70x10" %>
        </td>
      </tr>
    <% end %>
  </table>
  <footer class="actions">
    <span class="button">
      <%= label_tag :begin, t('field.begin_date') %>
      <%= text_field_tag :begin, I18n.l(@row.begin), :size => "10x1", :type => "date" %>
    </span>
    <% if not new_row %>
      <span class="button">
        <%= radio_button_tag :mode, :correction, true %>
        <%= t 'version.update' %>
        <%= radio_button_tag :mode, :new_version %>
        <%= t 'version.new' %>
      </span> |
      <span class="button">
        <%= check_box_tag :enabled, "t", @row.enabled %>
        <%= t 'field.active' %>
      </span>
    <% end %>
    <span class="button">
      <a id="cancel-dialog"><%= t 'actions.cancel' %></a>
    </span>
    <span class="button">
      <%= submit_tag t(new_row ? 'actions.create' : 'actions.update'), :id => "ok-dialog" %>
    </span>
  </footer>
<% end %>
<script>
  $('#edit-inline-form')
    .bind("ajax:beforeSend", function(evt, xhr, settings){
      $(this).find('div.validation-error').html('<%= escape_javascript(render :partial => "layouts/loading") %>');
      $(".field_with_errors").removeClass("field_with_errors");
    })
    .bind("ajax:success", function(evt, data, status, xhr){
      $(this).find('div.validation-error').empty();
      $(".field_with_errors").removeClass("field_with_errors");
      var container = "<%= @container %>";
      if(container == ""){
        window.location.reload(true);
      }
      else {
        $(container).html(xhr.responseText);
      }
      $("#dialog").hide(300);
    })
    .bind("ajax:error", function(evt, xhr, status, error){
      var errors, errorText;
      try {
        errors = $.parseJSON(xhr.responseText);
      } catch(err) {
        errors = {message: err};
      }
      errorText = "<ul>";
      for(error in errors) {
        errorText += "<li>" + errors[error] + "</li> ";
        $("#header-" + error).addClass("field_with_errors");
      }
      errorText += "</ul>";
      $(this).find('div.validation-error').html(errorText).addClass("error_explanation");
    });
  $("#cancel-dialog").click(function (event){
    $("#dialog").hide(300);
  });
</script>