<header>
  <h2>
    <%= @grid.name.html_safe %>
    <span class="detail">
      <%= display_filters(@grid, @filters, defined?(@search) ? @search : nil).html_safe %>
      (<%= @workspace.to_s.html_safe %>)
      <% if not (user_signed_in? and @grid.can_create_data?(@filters)) %>
        <span title="<%= t('general.locked') %>"><%= icon "locked" %></span>
      <% end %>
    </span>
  </h2>
</header>
<% unless @table_rows.nil? or 
          @table_rows.empty? or 
          @table_columns.nil? %>
  <table>
    <thead>
      <tr>
        <th class="list-header-string"><%=h @grid.name %></th>
        <% for column in @table_columns %>
          <%= show_header_label(column.kind,
                                column.name.html_safe,
                                column.description.html_safe,
                                true) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% init_row_index(params[:page]) %>
      <% for row in @table_rows %>
        <tr id="row-<%= row.uuid %>">
          <td class="list-description">
            <span title="<%= trunc(row.description.html_safe) %>">
              <% if @grid.has_name? %>
                <%= link_to @grid.row_title(row).html_safe,
                            show_path(
                              :workspace => @grid.workspace.uri || @grid.workspace_uuid,
                              :grid => @grid.uuid,
                              :row => row.uuid) %>
              <% else %>
                <%= link_to icon('blueright'),
                            show_path(
                              :workspace => @grid.workspace.uri || @grid.workspace_uuid,
                              :grid => @grid.uuid, 
                              :row => row.uuid) %>
              <% end %>
            </span>
            <%= display_information(row) %>
            <span class="detail"><%= display_updated_date(row).html_safe %></span>
            <% if user_signed_in? and not @grid.can_update?(row) %>
              <span title="<%= t('general.locked') %>"><%= icon "locked" %></span>
            <% end %>
            <% if user_signed_in? and @grid.can_update?(row) %>
              <div id="actions-<%= row.uuid %>"
                  class="actions float-actions" 
                  style="display: none;">
                <span class="button" title="Update current data or create a new version.">
                  <a id="update-<%= row.uuid %>"><%= icon('edit') %> <%= t 'actions.edit' %></a>
                </span>
                <span class="button" title="Delete current data.">
                  <%= link_to icon('remove') + ("&nbsp;" + t('actions.delete')).html_safe, 
                        destroy_path(
                          :grid => @grid.uuid,
                          :row => row.uuid,
                          :inline => true), 
                        :confirm => t('message.delete', :name => row.to_s),
                        :method => :delete %>
                </span>
                <script>
                  $("#row-<%= row.uuid %>").hover(
                    function (event){
                      var left = $(this).offset().left+$(this).width()/2-$("#actions-<%= row.uuid %>").width()/2;
                      var top = $(this).offset().top+10;
                      $("#actions-<%= row.uuid %>").css({left:left, top:top}).show();
                      $(this).addClass("highlighted");
                    },
                    function (event){
                      $("#actions-<%= row.uuid %>").hide();
                      $(this).removeClass("highlighted");
                    }
                  );
                  $("#update-<%= row.uuid %>").click(function (event){
                    var top = $("#row-<%= row.uuid %>").offset().top+15;
                    var left = $("#document").offset().left+5;
                    var width = $("#document").width()-35;
                    $("#row-dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
                    $("#row-dialog").css({left:left, top:top, width:width}).show(300);
                    $("#row-dialog").load("<%= url_for(edit_path(
                                                        :grid => @grid.uuid,
                                                        :row => row.uuid,
                                                        :container => "#row-#{@grid.uuid}-#{get_filters_uuid(@filters)}",
                                                        :refresh_list => true)) %>");
                  });
                </script>
              </div>
            <% end %>
          </td>
          <% init_column_index %>
          <% for column in @table_columns %>
            <%= show_entity_in_list(
                    column,
                    row.read_value(column),
                    ((column.grid_reference_uuid.present? and row.read_value(column).present?) ?
                        link_to(row.read_referenced_name(column),
                                show_path(
                                  :workspace => column.grid_reference_uuid,
                                  :grid => column.grid_reference_uuid,
                                  :row => row.read_value(column))) :
                        ""),
                    row.read_referenced_name(column)) %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<span class="detail">
  <%= show_collection_count(@table_rows, @table_row_count, params[:page]) %>
  <% if not_all_rows(@table_row_count) %><%= icon('warning') %><% end %>
</span>
<% if (user_signed_in? and @grid.can_create_data?(@filters)) or not_all_rows(@table_row_count) %>
  <footer id="actions-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>" 
          class="actions float-actions"
          style="display: none;">
    <% if not_last_page(params[:page], @table_row_count) %>
      <%= calc_next_page(params[:page]) %>
    <% end %>
    <% if not_first_page(params[:page]) %>
      <%= calc_previous_page(params[:page]) %>
      <%= icon('previous') %>
    <% end %>
    <% if user_signed_in? and @grid.can_create_data?(@filters) %>
      <span title="Create a new row of data for the corresponding data grid." class="button">
        <a id="create-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>"><%= icon('plus') %> <%= t 'actions.create' %></a>
      </span>
      <script>
        $("#create-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").click(function (event){
          var top = $("#actions-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").offset().top+15;
          var left = $("#document").offset().left+5;
          var width = $("#document").width()-35;
          $("#row-dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
          $("#row-dialog").css({left:left, top:top, width:width}).show(300);
          $("#row-dialog").load("<%= url_for(new_path(
                                              :workspace => @grid.workspace.uri || @grid.workspace_uuid,
                                              :grid => @grid.uuid,
                                              :filters => @filters,
                                              :container => "#row-#{@grid.uuid}-#{get_filters_uuid(@filters)}",
                                              :refresh_list => true)) %>");
        });
      </script>
    <% end %>
    <% if user_signed_in? and @grid.can_create_data?(@filters) %>
      <span title="Export rows in an .xml file." class="button">
        <%= link_to icon('export') + ("&nbsp;" + t('actions.export')).html_safe, 
              export_list_xml_path(
                :workspace => @grid.workspace.uri || @grid.workspace_uuid,
                :grid => @grid.uuid,
                :filters => @filters,
                :page => -1) %>
      </span>
    <% end %>
    <script>
      $("#row-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").hover(
        function (event){
          var left = $(this).offset().left+$(this).width()/2-$("#actions-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").width()/2;
          var top = $(this).offset().top;
          $("#actions-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").css({left:left, top:top}).fadeIn(300);
          $(this).addClass("highlighted");
        },
        function (event){
          $("#actions-<%= @grid.uuid + "-" + get_filters_uuid(@filters) %>").fadeOut(3);
          $(this).removeClass("highlighted");
        }
      );
    </script>
  </footer>
<% end %>