<% if (user_signed_in? and @grid.can_create_row?(@filters)) or not_all_rows(@table_row_count) %>
  <div id="actions-<%= filters_uuid(@grid, @filters) %>" class="actions float-actions" style="display: none;">
    <% if not_last_page(params[:page], @table_row_count) %><%= calc_next_page(params[:page]) %><% end %>
    <% if not_first_page(params[:page]) %>
      <%= calc_previous_page(params[:page]) %>
      <%= icon('previous') %>
    <% end %>
    <% if user_signed_in? and @grid.can_create_row?(@filters) %>
      <span title="<%= t 'actions.create_help' %>" class="button add-button">
        <a id="create-<%= filters_uuid(@grid, @filters) %>"><%= t 'actions.create' %></a>
      </span>
      <script>
        $("#create-<%= filters_uuid(@grid, @filters) %>").click(function (event){
          $("#dialog").dialog({
              modal: true,
              position: [$("#document").offset().left+$("#document").width()/2-650/2,
                         $("#actions-<%= filters_uuid(@grid, @filters) %>").offset().top+15], 
            }).
            html('<%= escape_javascript(render :partial => "layouts/loading") %>').
            load("<%= url_for(new_path(:grid => @grid.uuid,
                                       :filters => @filters,
                                       :container => "#grid-" + filters_uuid(@grid, @filters),
                                       :refresh_list => true)) %>");
        });
      </script>
    <% end %>
    <span title="<%= t 'actions.create_help' %>" class="button search-button">
      <a id="search-<%= filters_uuid(@grid, @filters) %>"><%= t 'actions.search' %></a>
    </span>
    <% if user_signed_in? and @grid.can_create_row?(@filters) and not defined?(dialog) %>
      <span class="button import-button" title="<%= t 'actions.import_help' %>">
        <a id="import-<%= @grid.uuid %>">
          <%= t 'actions.import' %>
        </a>
      </span>
      <script>
        $("#import-<%= @grid.uuid %>").click(function (event){
          $("#dialog").dialog({
              modal: true,
              position: [$("#document").offset().left+$("#document").width()/2-650/2,
                         $("#actions-<%= filters_uuid(@grid, @filters) %>").offset().top+15], 
            }).
            html('<%= escape_javascript(render :partial => "layouts/loading") %>').
            load("<%= url_for(import_path(:grid => @grid.uuid)) %>");
        });
      </script>
      <span title="<%= t 'actions.export_help' %>" class="button export-button">
        <%= link_to export_list_xml_path(
                      :workspace => @grid.workspace.display_uri,
                      :grid => @grid.display_uri,
                      :filters => @filters) do %>
          <%= t 'actions.export' %>
        <% end %>
      </span>
    <% end %>
    <% if user_signed_in? and @grid.can_create_row?(@filters) and not defined?(dialog) %>
      <span title="<%= t 'actions.update_grid_help' %>" class="button edit-button">
        <a id="update-grid-<%= filters_uuid(@grid, @filters) %>"><%= t 'actions.update_grid' %></a>
      </span>
      <script>
        $("#update-grid-<%= filters_uuid(@grid, @filters) %>").click(function (event){
          $("#dialog").dialog({
              modal: true,
              position: [$("#document").offset().left+$("#document").width()/2-650/2,
                         $("#actions-<%= filters_uuid(@grid, @filters) %>").offset().top+15], 
            }).
            html('<%= escape_javascript(render :partial => "layouts/loading") %>').
            load("<%= url_for(edit_path(:grid => GRID_UUID,
                                        :row => @grid.uuid)) %>");
        });
      </script>
    <% end %>
    <% if user_signed_in? and @grid.can_create_row?(@filters) and not defined?(dialog) %>
      <span title="<%= t 'actions.column_help' %>" class="button table-button">
        <a id="attributes-grid-<%= filters_uuid(@grid, @filters) %>"><%= t 'actions.columns' %></a>
      </span>
      <script>
        $("#attributes-grid-<%= filters_uuid(@grid, @filters) %>").click(function (event){
          $("#dialog-list").dialog({
              modal: true,
              position: [$("#document").offset().left+$("#document").width()/2-650/2,
                         $(this).offset().top+20], 
            }).
            html('<%= escape_javascript(render :partial => "layouts/loading") %>').
            load("<%= url_for(attributes_path(:grid => COLUMN_UUID,
                                              :filters => [{:column_uuid => COLUMN_GRID_UUID,
                                                            :row_uuid => @grid.uuid,
                                                            :row_name => @grid}])) %>");
        });
      </script>
    <% end %>
    <script>
      $("#grid-<%= filters_uuid(@grid, @filters) %>").hover(
        function (event){
          var left = $(this).width()-$("#actions-<%= filters_uuid(@grid, @filters) %>").width();
          $("#actions-<%= filters_uuid(@grid, @filters) %>").css({left:left}).fadeIn(300);
          <% if not defined?(dialog) %>$(this).addClass("highlighted");<% end %>
        },
        function (event){
          $("#actions-<%= filters_uuid(@grid, @filters) %>").fadeOut(3);
          <% if not defined?(dialog) %>$(this).removeClass("highlighted");<% end %>
        }
      );
    </script>
  </div>
<% end %>
<header>
  <% if not defined?(dialog) %>
    <hgroup>
      <%= render :partial => 'breadcrumbs' %>
      <small>
        <%= display_information(@grid) %>
        <%= display_locale(@grid) %>
        <%= display_updated_date_by(@grid) %>
        <%= display_filters(@grid, @filters, defined?(@search) ? @search : nil).html_safe %>
        <% if user_signed_in? and not(@grid.can_create_row?(@filters)) %>
          <span title="<%= t('general.locked') %>" class="locked">&nbsp;</span>
        <% end %>
      </small>
    </hgroup>
    <h3><%= @grid %></h3>
  <% else %>
    <br/><br/>
  <% end %>
</header>
<%= t('general.no_data') if not @table_rows.nil? and @table_rows.empty? %>
<% unless @table_rows.nil? or
          @table_rows.empty? or
          @table_columns.nil? %>
  <% if @display_option == GRID_DISPLAY_MODE_TABLE_UUID or
        @display_option == GRID_DISPLAY_MODE_TABLE_TEXT_UUID or
        defined?(dialog) %>
    <table>
      <thead>
        <tr>
          <th class="list-header-string"></th>
          <th class="list-header-string"></th>
          <% for column in @table_columns %>
            <%= show_header_label(column.kind, column.name.html_safe, true) %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% row_number = 0 %>
        <% for row in @table_rows %>
          <% row_number += 1 %>
          <tr id="row-<%= row.uuid %>">
            <td>
              <% if @grid.uuid == WORKSPACE_UUID %>
                <%= link_to row_number.to_s,
                            show_workspace_path(
                              :workspace => row.display_uri) %>
              <% elsif @grid.uuid == GRID_UUID %>
                <%= link_to row_number.to_s,
                            show_grid_path(
                              :workspace => row.workspace.display_uri,
                              :grid => row.display_uri) %>
              <% else %>
                <%= link_to row_number.to_s,
                            show_path(
                              :workspace => @grid.workspace.display_uri,
                              :grid => @grid.display_uri,
                              :row => row.display_uri) %>
              <% end %>
            </td>
            <td class="list-description">
              <% if user_signed_in? and @grid.can_update_row?(row) %>
                <div id="actions-<%= row.uuid %>" class="actions float-actions" style="display: none;">
                  <span class="mini-button edit-button" title="<%= t 'actions.update_help' %>">
                    <a id="update-<%= row.uuid %>"><%= t 'actions.update' %></a>
                  </span>
                </div>
              <% end %>
              <% if @grid.has_name %><%= @grid.row_title(row).html_safe %><% end %>
              <small>
                <%= display_information(row) %>
                <%= display_updated_date(row) %>
              </small>
              <% if user_signed_in? and not @grid.can_update_row?(row) %>
                <span title="<%= t('general.locked') %>" class="locked">&nbsp;</span>
              <% end %>
            </td>
            <% for column in @table_columns %>
              <% value = row.read_value(column) %>
              <% if column.workspace_reference.present? and column.grid_reference.present? and value.present? %>
                 <% reference_information = row.read_referenced_name_and_description(column, value) %>
                 <% reference_link = link_to(reference_information[0],
                                             show_path(
                                               :workspace => column.workspace_reference.display_uri,
                                               :grid => column.grid_reference.display_uri,
                                               :row => value)) %>
              <% else %>
                 <% reference_information = ["", ""] %>
                 <% reference_link = "" %>
              <% end %>
              <%= show_entity_in_list(
                      column,
                      value,
                      reference_link,
                      reference_information[0]) %>
            <% end %>
          </tr>
          <% if @display_option == GRID_DISPLAY_MODE_TABLE_TEXT_UUID %>
            <tr>
              <td></td>
              <td spancol="999">
                <%= truncate_html(row.description.html_safe) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <table>
      <tbody>
        <% for row in @table_rows %>
          <tr id="row-<%= row.uuid %>"><td>
            <% if user_signed_in? and @grid.can_update_row?(row) %>
              <div id="actions-<%= row.uuid %>" class="actions float-actions" style="display: none;">
                <span class="mini-button edit-button" title="<%= t 'actions.update_help' %>">
                  <a id="update-<%= row.uuid %>"><%= t 'actions.update' %></a>
                </span>
              </div>
            <% end %>
            <% if @grid.uuid == WORKSPACE_UUID %>
              <%= link_to @grid.row_title(row).html_safe,
                          show_workspace_path(
                            :workspace => row.display_uri) %>
            <% elsif @grid.uuid == GRID_UUID %>
              <%= link_to @grid.row_title(row).html_safe,
                          show_grid_path(
                            :workspace => row.workspace.display_uri,
                            :grid => row.display_uri) %>
            <% else %>
              <%= link_to @grid.row_title(row).html_safe,
                          show_path(
                            :workspace => @grid.workspace.display_uri,
                            :grid => @grid.display_uri,
                            :row => row.display_uri) %>
            <% end %>
            <small>
              <%= display_information(row) %>
              <%= display_updated_date(row) %>
            </small>
            <% if @display_option == GRID_DISPLAY_MODE_TEXT_UUID %>
              <br/>
              <%= truncate_html(row.description.html_safe) %>
            <% end %>
          </td></tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <script>
    <% for row in @table_rows %>
      $("#row-<%= row.uuid %>").hover(
        function (event){
          var left = $(this).width()-$("#actions-<%= row.uuid %>").width();
          $("#actions-<%= row.uuid %>").css({left:left}).show();
          $(this).addClass("highlighted");
        },
        function (event){
          $("#actions-<%= row.uuid %>").hide();
          $(this).removeClass("highlighted");
        }
      );
      $("#update-<%= row.uuid %>").click(function (event){
        $("#dialog").dialog({
            modal: true,
            position: [$("#document").offset().left+$("#document").width()/2-650/2,
                       $("#row-<%= row.uuid %>").offset().top+15], 
          }).
          html('<%= escape_javascript(render :partial => "layouts/loading") %>').
          load("<%= url_for(edit_path(:grid => @grid.uuid,
                                      :row => row.uuid,
                                      :filters => @filters,
                                      :container => "#grid-#{filters_uuid(@grid, @filters)}",
                                      :refresh_list => true)) %>");
      });
    <% end %>
  </script>
<% end %>
<small>
  <%= show_collection_count(@table_rows, @table_row_count, params[:page]) %>
  <% if not_all_rows(@table_row_count) %><% end %>
</small>