<% if @workspace.present? and @grid.present? and @row.present? %>
  <% if user_signed_in? and @grid.can_update_row?(@row) %>
    <div id="actions-<%= @row.uuid %>" 
            class="actions float-actions" 
            style="display: none;">
      <span class="button edit-button" title="<%= t 'actions.update_help' %>">
        <a id="update-<%= @row.uuid %>"><%= t 'actions.update' %></a>
      </span>
      <span class="button attach-button" title="<%= t 'actions.attach_help' %>">
        <a id="attach-<%= @row.uuid %>"><%= t 'actions.attach' %></a>
      </span>
      <span class="button" title="<%= t 'actions.export_help' %>">
        <%= link_to export_row_xml_path(:workspace => @grid.workspace.display_uri,
                                        :grid => @grid.display_uri,
                                        :row => @row.display_uri) do %>
          <%= icon('export') %>
          <%= t 'actions.export' %>
        <% end %>
      </span>
      <% if @grid.can_create_row?(@filters) and @grid.uuid == WORKSPACE_UUID %>
        <span class="button" title="<%= t 'actions.import_help' %>">
          <a id="import-<%= @row.uuid %>">
            <%= icon('import') %>
            <%= t 'actions.import' %>
          </a>
        </span>
      <% end %>
      <script>
        $("#row-<%= @row.uuid %>").hover(
          function (event){
            var left = $(this).width()-$("#actions-<%= @row.uuid %>").width();
            $("#actions-<%= @row.uuid %>").css({left:left}).fadeIn(300);
            $("#row-<%= @row.uuid %>").addClass("highlighted");
          },
          function (event){
            $("#actions-<%= @row.uuid %>").fadeOut(3);
            $("#row-<%= @row.uuid %>").removeClass("highlighted");
          }
        );
        $("#update-<%= @row.uuid %>").click(function (event){
          if(!$('#dialog').is(':visible')){
            var top = $("#actions-<%= @row.uuid %>").offset().top+15;
            var left = $("#document").offset().left+5;
            var width = $("#document").width()-35;
            $("#actions-<%= @row.uuid %>").fadeOut(3);
            $("#document, #document article").addClass("disabled");
            $("a").addClass("disabled");
            $("#dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
            $("#dialog").css({left:left, top:top, width:width}).show(300);
            $("#dialog").load("<%= url_for(edit_path(:grid => @grid.uuid,
                                                     :row => @row.uuid,
                                                     :container => "#row-#{@row.uuid}")) %>");
          }
        });
        $("#attach-<%= @row.uuid %>").click(function (event){
          if(!$('#dialog').is(':visible')){
            var top = $("#actions-<%= @row.uuid %>").offset().top+15;
            var left = $("#document").offset().left+5;
            var width = $("#document").width()-35;
            $("#actions-<%= @row.uuid %>").fadeOut(3);
            $("#document, #document article").addClass("disabled");
            $("a").addClass("disabled");
            $("#dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
            $("#dialog").css({left:left, top:top, width:width}).show(300);
            $("#dialog").load("<%= url_for(attach_path(:grid => @grid.uuid, :row => @row.uuid)) %>");
          }
        });
        $("#import-<%= @row.uuid %>").click(function (event){
          if(!$('#dialog').is(':visible')){
            var top = $("#actions-<%= @row.uuid %>").offset().top+15;
            var left = $("#document").offset().left+5;
            var width = $("#document").width()-35;
            $("#actions-<%= @row.uuid %>").fadeOut(3);
            $("#document, #document article").addClass("disabled");
            $("a").addClass("disabled");
            $("#dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
            $("#dialog").css({left:left, top:top, width:width}).show(300);
            $("#dialog").load("<%= url_for(import_path(:grid => @grid.uuid)) %>");
          }
        });
      </script>
    </div>
  <% end %>
  <header>
    <hgroup>
      <% if @workspace.uuid != @row.uuid and @workspace.uuid != SYSTEM_WORKSPACE_UUID %>
        <%= link_to(@workspace,
                    show_workspace_path(:workspace => @workspace.display_uri)) %> »
      <% end %>
      <% if @grid.uuid != WORKSPACE_UUID %>
        <%= link_to(@grid,
                    show_grid_path(
                      :workspace => @workspace.display_uri,
                      :grid => @grid.display_uri)) %>
      <% end %>
      <small>
        <%= display_grid_next_versions(@grid, @row).html_safe %>
        <%= display_locale(@row).html_safe if @grid.has_translation %>
        <% if @row.was_updated? %>
          <%= t 'field.updated' %>
          <%= display_updated_time_by(@row, @row.who_updated, @row.update_user_uuid).html_safe %>
        <% else %>
          <%= t 'field.created' %>
          <%= display_created_time_by(@row, @row.who_created, @row.create_user_uuid).html_safe %>
        <% end %>
        <% if user_signed_in? and not @grid.can_update_row?(@row) %>
          <span title="<%= t('general.locked') %>" class="locked">&nbsp;</span>
        <% end %>
      </small>
    </hgroup>
    <h1><%= @grid.row_title(@row) %></h1>
  </header>
  <% if @grid.uuid != WORKSPACE_UUID and not @table_columns.empty? %>
    <table>
      <tbody>
        <% for column in @table_columns %>
          <%= show_entity(
                column, 
                @row.read_value(column),
                ((column.workspace_reference.present? and
                  column.grid_reference.present? and
                  @row.read_value(column).present?) ?  
                  link_to(@row.read_referenced_name(column),
                          show_path(
                            :workspace => column.workspace_reference.display_uri,
                            :grid => column.grid_reference.display_uri,
                            :row => @row.read_value(column))) : ""),
                @row.read_referenced_name(column),
                @row.read_referenced_description(column)
           ) %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @grid.has_translation and @row_loc.description.present? %>
    <% if not @table_columns.empty? %><br/><% end %>
    <p><%= @row_loc.description.html_safe %></p>
  <% end %>
  <section id="attachments-<%= @row.uuid %>">
    <%= render :partial => 'attachments' %>
  </section>
<% else %>
  <hgroup>
    <% if @workspace.present? and @workspace.uuid != SYSTEM_WORKSPACE_UUID %>
      <%= link_to(@workspace,
                  show_path(
                    :workspace => SYSTEM_WORKSPACE_URI,
                    :grid => WORKSPACE_UUID,
                    :row => @workspace.uuid)) %> »
    <% end %>
    <% if @grid.present? %>
      <%= link_to(@grid,
                  show_path(
                    :workspace => SYSTEM_WORKSPACE_URI,
                    :grid => GRID_UUID,
                    :row => @grid.uuid)) %> »
    <% end %>
  </hgroup>
  <p><%= t 'error.not_found' %><p>
<% end %>