<% if @workspace.present? and @grid.present? and @row.present? %>
  <% if user_signed_in? and @grid.can_update_row?(@row) %>
    <div id="actions-<%= @row.uuid %>" 
            class="actions float-actions" 
            style="display: none;">
      <span class="button edit-button" title="<%= t 'actions.update_help' %>">
        <a id="update-<%= @row.uuid %>"><%= t 'actions.update' %></a>
      </span>
      <span class="button attachment-button" title="<%= t 'actions.attach_help' %>">
        <a id="attach-<%= @row.uuid %>"><%= t 'actions.attach' %></a>
      </span>
      <span class="button export-button" title="<%= t 'actions.export_help' %>">
        <%= link_to export_row_xml_path(:workspace => @grid.workspace.display_uri,
                                        :grid => @grid.display_uri,
                                        :row => @row.display_uri) do %>
          <%= t 'actions.export' %>
        <% end %>
      </span>
      <script>
        $("#row-<%= @row.uuid %>").hover(
          function (event){
            var left = $(this).width()-$("#actions-<%= @row.uuid %>").width();
            $("#actions-<%= @row.uuid %>").css({left:left}).fadeIn(300);
            $("#row-<%= @row.uuid %>").addClass("highlighted");
          },
          function (event){
            $("#actions-<%= @row.uuid %>").fadeOut(3);
            $("#row-<%= @row.uuid %>").removeClass("highlighted");
          }
        );
        $("#update-<%= @row.uuid %>").click(function (event){
          $("#dialog").dialog({
            modal: true,
            position: [$("#document").offset().left+$("#document").width()/2-650/2,
                       $("#actions-<%= @row.uuid %>").offset().top+15]
          }).
          html('<%= escape_javascript(render :partial => "layouts/loading") %>').
          load("<%= url_for(edit_path(:grid => @grid.uuid,
                                      :row => @row.uuid,
                                      :container => "#row-#{@row.uuid}")) %>");
        });
        $("#attach-<%= @row.uuid %>").click(function (event){
          $("#dialog").dialog({
            modal: true,
            position: [$("#document").offset().left+$("#document").width()/2-650/2,
                       $("#actions-<%= @row.uuid %>").offset().top+15]
          }).
          html('<%= escape_javascript(render :partial => "layouts/loading") %>').
          load("<%= url_for(attach_path(:grid => @grid.uuid, :row => @row.uuid)) %>");
        });
      </script>
    </div>
  <% end %>
  <header>
    <hgroup>
      <%= render :partial => 'breadcrumbs' %>
      <small>
        <%= display_information(@row) %>
        <%= display_locale(@row) if @grid.has_translation %>
        <%= display_updated_date_by(@row) %>
        <% if user_signed_in? and not(@grid.can_update_row?(@row)) %>
          <span title="<%= t('general.locked') %>" class="locked">&nbsp;</span>
        <% end %>
      </small>
    </hgroup>
    <h1><%= @grid.row_title(@row) %></h1>
  </header>
  <% if @grid.uuid != WORKSPACE_UUID and not @table_columns.empty? %>
    <table>
      <tbody>
        <% for column in @table_columns %>
          <% value = @row.read_value(column) %>
          <% if column.workspace_reference.present? and column.grid_reference.present? and value.present? %>
             <% reference_information = @row.read_referenced_name_and_description(column, value) %>
             <% reference_link = link_to(reference_information[0],
                                         show_path(
                                           :workspace => column.workspace_reference.display_uri,
                                           :grid => column.grid_reference.display_uri,
                                           :row => value)) %>
          <% else %>
             <% reference_information = ["", ""] %>
             <% reference_link = "" %>
          <% end %>
          <%= show_entity(column, value, reference_link, reference_information[0], reference_information[1]) %>
        <% end %>
      </tbody>
    </table>
    <br/>
  <% end %>
  <% if @grid.has_translation and @row_loc.description.present? %>
    <%= @row_loc.description.html_safe %>
  <% end %>
  <section id="attachments-<%= @row.uuid %>">
    <%= render :partial => 'attachments' %>
  </section>
<% else %>
  <hgroup>
    <% if @workspace.present? and @workspace.uuid != SYSTEM_WORKSPACE_UUID %>
      <%= link_to(@workspace,
                  show_path(
                    :workspace => SYSTEM_WORKSPACE_URI,
                    :grid => WORKSPACE_UUID,
                    :row => @workspace.uuid)) %> »
    <% end %>
    <% if @grid.present? %>
      <%= link_to(@grid,
                  show_path(
                    :workspace => SYSTEM_WORKSPACE_URI,
                    :grid => GRID_UUID,
                    :row => @grid.uuid)) %> »
    <% end %>
  </hgroup>
  <p><%= t 'error.not_found' %><p>
<% end %>