<% unless @grid.blank? or @row.blank? %>
  <% if @grid.uuid != Grid::ROOT_UUID %>
    <article id="row-<%= @row.uuid %>">
      <%= render :partial => "row" %>
    </article>
  <% end %>
  <% unless @grid_cast.nil? or not @grid_cast.can_select_data? %>
    <article id="grid-<%= @grid_cast.uuid + "-" %>">
      <%= icon 'loading' %> <%= @grid_cast.name %>
    </article>
  <% end %>
  <% unless @attached_grids.nil? or @attached_grids.empty? %>
    <% for attached_grid in @attached_grids %>
      <% filters = [{:column_uuid => attached_grid.column_uuid,
                     :row_uuid => @row.uuid,
                     :row_name => @row.name}] %>
      <article id="grid-<%= attached_grid.uuid + "-" + get_filters_uuid(filters) %>">
        <%= icon 'loading' %> <%= attached_grid.name %>
      </article>
    <% end %>
  <% end %>
  <%= render :partial => 'navigation' %>
<% else %>
  <h1>
    <%= @page_title %>
    <small>
      <%= icon @page_icon %>
      <%= @grid.to_s.html_safe if @grid.present?%>
      <% if @workspace.present? %>(<%= @workspace.to_s.html_safe %>)<% end %>
    </small>
  </h1>
  <p><%= t 'error.not_found' %><p>
<% end %>