<% content_for :navigator do %>
  <ul>
    <li>
      <%= I18n.t('devise.unhappy') %> 
      <%= link_to I18n.t('devise.cancel_account'), registration_path(resource_name), :confirm => I18n.t('message.delete', :name => current_user.to_s), :method => :delete %>.
    </li>
  </ul>
<% end %>

<% content_for :document do %>
  <header>
    <h1><%= bigicon 'preferences' %> <%= current_user.to_s %></h1>
  </header>
  <header class="action-header"><%= I18n.t('devise.edit_user') %></header>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <table class="form">
      <tr>
        <td class="header"><%= f.label :first_name %><span class="required">*</span></td>
        <td class="string"><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td class="header"><%= f.label :last_name %><span class="required">*</span></td>
        <td class="string"><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td class="header"><%= f.label :email %><span class="required">*</span></td>
        <td class="string"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td class="header"><%= f.label :password %><span class="required">*</span></td>
        <td class="string"><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td class="header"><%= f.label :password_confirmation %><span class="required">*</span></td>
        <td class="string"><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <aside class="actions">
      <center><div class="button"><%= f.submit I18n.t('actions.ok') %></div></center>
    </aside>
  <% end %>
<% end %>