<% content_for :navigator do %>
  <%= render "links" %>
<% end %>
<header class="action-header"><%= I18n.t('devise.sign_up') %></header>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <table class="form">
    <tr>
      <td class="header"><%= f.label :first_name, :class => "required" %></td>
      <td class="string"><%= f.text_field :first_name, :required => true %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :last_name, :class => "required" %></td>
      <td class="string"><%= f.text_field :last_name, :required => true %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :email, :class => "required" %></td>
      <td class="string"><%= f.email_field :email, :required => true %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :password, :class => "required" %></td>
      <td class="string"><%= f.password_field :password, :required => true %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :password_confirmation, :class => "required" %></td>
      <td class="string"><%= f.password_field :password_confirmation, :required => true %></td>
    </tr>
  </table>
  <footer class="actions">
    <%= devise_error_messages! %>
    <span class="button"><%= f.submit I18n.t('devise.sign_up') %></span>
  </footer>
<% end %>