<% content_for :navigator do %>
  <%= render "links" %>
<% end %>

<header class="action-header"><%= I18n.t('devise.sign_up') %></header>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <table class="form">
    <tr>
      <td class="header"><%= f.label :first_name %><span class="required">*</span></td>
      <td class="string"><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :last_name %><span class="required">*</span></td>
      <td class="string"><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :email %><span class="required">*</span></td>
      <td class="string"><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :password %><span class="required">*</span></td>
      <td class="string"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :password_confirmation %><span class="required">*</span></td>
      <td class="string"><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <footer class="actions">
    <span class="button"><%= f.submit I18n.t('devise.sign_up') %></span>
  </footer>
<% end %>