<% content_for :navigator do %>
  <%= render "links" %>
<% end %>
<section class="dialog document">
  <header class="action-header"><%= t('devise.resend_unlock') %></header>
  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
    <table class="form">
      <tr>
        <td class="header"><%= f.label :email, :class => "required" %></td>
        <td class="string"><%= f.email_field :email, :required => true %></td>
      </tr>
    </table>
    <%= devise_error_messages! %>
    <footer class="actions">
      <span class="button"><%= f.submit t('devise.resend_unlock') %></span>
    </footer>
  <% end %>
</section>