<% content_for :navigator do %>
  <%= render "links" %>
<% end %>

<header class="action-header"><%= I18n.t('devise.resend_unlock') %></header>
<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <table class="form">
    <tr>
      <td class="header"><%= f.label :email %><span class="required">*</span></td>
      <td class="string"><%= f.text_field :email %></td>
    </tr>
  </table>
  <footer class="actions">
    <span class="button"><%= f.submit I18n.t('devise.resend_unlock'), :disable_with => I18n.t('actions.wait') %></span>
  </footer>
<% end %>