<article id="<%=h "row-grid" + grid.id.to_s + "-row" + row.id.to_s %>">
  <header class="header-article">
    <div class="bigicon"><%= bigicon @page_icon %></div>
    <h1>
      <span class="title"><%= grid.to_s.html_safe %></span>
      <%= row.to_s.html_safe %>
      <span class="detail">
        <%= display_grid_next_versions(grid, row).html_safe %>
        <%= display_locale(row).html_safe if grid.has_translation? %>
        <% if not grid.can_update?(row) %><span title="Data is locked"><%= icon "locked" %></span><% end %>
      </span>
    </h1>
  </header>
  <% columns = grid.column_all %>
  <% if not columns.empty? %>
    <table>
      <tbody>
        <% for column in grid.column_all %>
          <%= show_entity(
                column, 
                row.read_value(column),
                ((column.grid_reference_uuid.present? and row.read_value(column).present?) ?  
                  link_to(row.read_referenced_name(column), 
                              :controller => 'rows', 
                              :action => 'show',  
                              :grid_id => column.grid_reference_uuid, 
                              :id => row.read_value(column)) : ""),
                row.read_referenced_name(column),
                row.read_referenced_description(column)
           ) %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if grid.has_translation? and row_loc.description.present? %>
    <% if not columns.empty? %><br/><% end %>
    <p><%= no_trunc(row_loc.description.html_safe) %></p>
  <% end %>
  <div id="entity-upload-attachment"></div>
  <%= render :partial => 'entities/row_actions', 
             :locals => { 
               :grid => grid, 
               :row => row } %>
  </footer>
</article>