<% content_for :navigator do %>
  <%= render "links" %>
<% end %>
<header class="action-header"><%= I18n.t('devise.change_passwd') %></header>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <table class="form">
    <tr>
      <td class="header"><%= f.label :password, I18n.t('devise.new_passwd') %><span class="required">*</span></td>
      <td class="string"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td class="header"><%= f.label :password_confirmation, I18n.t('devise.conf_new_passwd') %></td>
      <td class="string"><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <footer class="actions">
    <%= devise_error_messages! %>
    <span class="button"><%= f.submit I18n.t('devise.change_passwd') %></span>
  </footer>
<% end %>