<section class="sidebar">
  <article class="article">
    <%= render "links" %>
  </article>
</section>

<section class="content3-4">
  <article class="highlighted">
    <header>
      <h1><%= I18n.t('devise.forgot_password') %></h1>
    </header>
    <header class="action-header"><%= I18n.t('devise.send_instructions') %></header>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <table class="form">
        <tr>
          <td class="header"><%= f.label :email %><span class="required">*</span></td>
          <td class="string"><%= f.email_field :email %></td>
        </tr>
      </table>
      <aside class="actions">
        <center><div class="button"><%= f.submit I18n.t('devise.send_instructions') %></div></center>
      </aside>
    <% end %>
  </article>
</section>