<h1><%= bigicon @page_icon %>&nbsp;<%= @page_title %></h1>
<% form_for(:upload, @upload, :url => {:action => 'upload', :id => @upload.id}, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'entities/error_messages', :locals => { :item => @upload } %>
	 <div id="entity-detail">
		  <table>
		    <tr>
			     <td class="header">Data file</td>
		      <td class="string"><%= f.file_field :data_file %></td>
		    </tr>
		  </table>
	 </div>
	 <div id="actions">
				<a href="<%= session[:last_url] %>"><%= icon('close') + "&nbsp;" + I18n.t('actions.cancel') %></a>
		  <div id="button"><%= f.submit I18n.t('actions.import') %></div>
	 </div>
<% end %>