<section class="sidebar">
  <article class="article">
    <%= icon 'notice' %> <%= I18n.t('banner.explain_wel') %></li>
  </article>
</section>

<section class="content3-4">
  <article class="highlighted">
    <header>
      <h1><%= bigicon 'home' %> <%= I18n.t('banner.welcome') %></h1>
    </header>
  </article>
  
  <% unless @workspaces.nil? %>
    <article class="highlighted">
      <header>
    		<h2>
    		  <%= @workspaces.name %>
    		  <span title="<%= @workspaces.description.html_safe %>"><%= icon('information') %></span>
    		</h2>
  		</header>
  		<%= render :partial => "rows/list", 
  		           :locals => { 
  		                :embedded => true,
  		                :grid => @workspaces, 
  		                :filters => nil, 
  		                :table_row_count => @workspaces.row_count,
  		                :table_rows => @workspaces.row_all, 
  		                :table_columns => @workspaces.filtered_columns
  		            } %>
    </article>
  <% end %>
</section>