<header class="action-header"><%= @workspace %> » <%= @grid %></header>
<%= form_tag(upload_path(:grid => @grid.uuid),
             :multipart => true,
             :target => "target-dialog",
             :id => 'import-form') do %>
  <table class="form">
    <tr>
      <td class="header"><%= t 'field.file' %></td>
      <td class="string"><%= file_field_tag :data_file, :accept => 'text/xml' %></td>
    </tr>
  </table>
  <div class="validation-error"></div>
  <footer class="actions">
    <span class="button cancel-button"><a id="cancel-dialog"><%= t 'actions.cancel' %></a></span>
    <span class="button"><%= submit_tag t('actions.import'), :id => "ok-dialog" %></span>
  </footer>
<% end %>
<iframe id="target-dialog" style="display: none;"></iframe>
<script>
  $("#cancel-dialog").click(function (event){
    $("#document, #document article").removeClass("disabled");
    $("a").attr('class', 'enabled');
    $("#dialog").hide(300);
  });
  $("#target-dialog").load(function (event){
    var ok = $("#target-dialog").contents().find("#ok");
    if(ok.length == 0) {
      var errors, errorText;
      try {errors = $.parseJSON($("#target-dialog").contents().text());}
      catch(err) {errors = {message: err};}
      errorText = "<ul>";
      for(error in errors) {
        errorText += "<li>" + errors[error] + "</li> ";
        $("#header-" + error).addClass("field_with_errors");
      }
      errorText += "</ul>";
      $("#import-form").find('div.validation-error').html(errorText).addClass("error_explanation");
    }
    else {
      window.location.reload(true);
    }
  });
</script>