<article>
  <%= form_tag(refresh_path, :id => 'asofdate-form') do %>
    <%= hidden_field_tag :as_of_date, I18n.l(session[:as_of_date]) %>
    <span id="asofdate-title" class="button asofdate-button <%= warning_current_date(session[:as_of_date]) %>">
      <a id="asofdate-label"><%= t 'field.asof_date' %></a>
    </span>
    <%= l(session[:as_of_date]) %>
    <div class="slideButton">
      <input type="checkbox" id="asofdate-button" <%= session[:show_asofdate] ? 'checked' : '' %> />
      <label for="asofdate-button"></label>
    </div>
    <div id="asofdate-content" class="inline-calendar" style="<%= session[:show_asofdate] ? '' : 'display: none;' %>"><div id="datepicker"></div></div>
  <% end %>
</article>
<script>
  $("#datepicker").datepicker({
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true,
    defaultDate: "<%= l(session[:as_of_date]) %>",
    currentText: "<%= t 'date.datepicker-currentText' %>",
    closeText: "<%= t 'date.datepicker-closeText' %>",
    dateFormat: "<%= t 'date.formats.datepicker' %>",
    dayNamesMin: <%= t('date.datepicker-dayNamesMin').html_safe %>,
    monthNames: <%= t('date.datepicker-monthNames').html_safe %>,
    monthNamesShort: <%= t('date.datepicker-monthNamesShort').html_safe %>,
    onSelect: function(dateText) {
      $("#as_of_date").val(dateText);
      $("#asofdate-form").submit();
    }
  });
  function showCalendar(updateFlag) {
    if ($("#asofdate-button").attr('checked')) {
      $("#asofdate-content").show(300);
      $("#asofdate-title").addClass("highlighted");
      if(updateFlag) $.ajax("/show_asofdate/__set");
    } 
    else {
      $("#asofdate-title").removeClass("highlighted");
      $("#asofdate-content").hide(300);
      if(updateFlag) $.ajax("/show_asofdate/__unset");
    }
  };
  showCalendar(false);
  $("#asofdate-button").click(function (event){
    showCalendar(true);
  });
  $("#asofdate-label").click(function (event){
    $("#asofdate-button").attr('checked', !$("#asofdate-button").attr('checked'));
    showCalendar(true);
  });
</script>