<article>
  <%= form_tag refresh_path do %>
    <span class="<%= warning_current_date(session[:as_of_date]) %> button highlighted">
      <%= t('field.asof_date') %>
    </span>
    <%= text_field_tag :as_of_date, I18n.l(session[:as_of_date]), :size => "10x1", :onchange => 'this.form.submit()' %>
  <% end %>
</article>
<script>
  $( "#as_of_date" ).datepicker({
    numberOfMonths: 3,
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true,
    currentText: "<%= t 'date.datepicker-currentText' %>",
    closeText: "<%= t 'date.datepicker-closeText' %>",
    dateFormat: "<%= t 'date.formats.datepicker' %>",
    dayNamesMin: <%= t('date.datepicker-dayNamesMin').html_safe %>,
    monthNames: <%= t('date.datepicker-monthNames').html_safe %>,
    monthNamesShort: <%= t('date.datepicker-monthNamesShort').html_safe %>
  });
</script>