<article>
  <%= form_for :home, :url => refresh_path do |f| %>
    <span class="button highlighted">
      <%= t('field.asof_date') %>
      <%= display_warning_current_date(session[:as_of_date]) %>
    </span>
    <% if session[:lock_as_of_date] %>
      <%= I18n.l(session[:as_of_date]) %>
    <% else %>
      <%= f.text_field 'session_date',
                       :size => "10x1", 
                       :onchange => 'this.form.submit()' %>
    <% end %>
  <% end %>
</article>