<section id="header-application"><%= current_application_title %></section>
<section id="header-links">
  <%= form_for :home, :url => refresh_path do |f| %>
    <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
  <% end %>
  <% if user_signed_in? %>
    <span class="button user-button">
      <%= link_to current_user.to_s, edit_user_registration_path %>
    </span>
    <span class="separator">|</span>
    <span class="button">
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <%= icon 'logout' %>
        <%= t 'banner.signout' %>
      <% end %>
    </span>
  <% else %>
    <span class="button user-button">
      <%= link_to I18n.t('devise.sign_in'), new_session_path("user") %>
    </span>
  <% end %>
</section>
<section id="workspaces"><%= render :partial => "layouts/workspaces" %></section>