<section id="header-application">
  <%=t 'banner.welcome' %>
</section>
<section id="header-links">
  <% if user_signed_in? %>
    <span class="button">
      <%= link_to_unless_current(icon('preferences') + ("&nbsp;" + 
                               current_user.to_s).html_safe, edit_user_registration_path) do |name| %>
        <span class="hightlighted"><%= name %></span>
      <% end %>
    </span>
  <% end %>
	<%= form_for :home, :url => { :controller => '/home', :action => 'refresh' } do |f| %>
		<%= display_warning_current_date(session[:as_of_date]) %>
		<%= I18n.t('field.asof_date') %> 
	  <% if session[:lock_as_of_date] %>
      <%= I18n.l(session[:as_of_date]) %>
	  <% else %>
      <%= f.datepicker 'session_date', 
                       :showButtonPanel => true,
                       :numberOfMonths => 2,
                       :changeMonth => true,
                       :changeYear => true,
                       :defaultDate => session[:as_of_date].nil? ? nil : session[:as_of_date].strftime(I18n.t('datepicker.decode')), 
                       :value => session[:as_of_date].nil? ? nil : I18n.l(session[:as_of_date]),
                       :dateFormat => I18n.t('datepicker.format'),
                       :dayNamesMin => I18n.t('datepicker.dayNamesMin'),
                       :monthNames => I18n.t('datepicker.monthNames'),
                       :monthNamesShort => I18n.t('datepicker.monthNamesShort'),
                       :currentText => I18n.t('datepicker.currentText'),
                       :closeText => I18n.t('datepicker.closeText'),
                       :size => "10x1", 
                       :onchange => 'this.form.submit()' %>
	  <% end %>
	<% end %>
  <%= form_tag '', :method => 'GET', :class => 'locale' do %>
    <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
  <% end %>
  <% if user_signed_in? %>
    <span class="button">
      <%= link_to icon('logout') + ("&nbsp;" + I18n.t('banner.signout')).html_safe, destroy_user_session_path, :method => :delete %>
    </span>
  <% else %>
    <span class="button">
      <%= link_to_unless_current I18n.t('devise.sign_in'), new_session_path("user") %>
    </span>
    | 
    <span class="button">
      <%= link_to_unless_current I18n.t('devise.sign_up'), new_registration_path("user") %>
    </span>
  <% end %>
</section>
<section id="workspaces"><%= render :partial => "layouts/workspaces" %></section>