<section id="header-application">
  <span class="button cancel-button">
    <%= link_to_unless_current(current_application_title, root_path) do |name| %>
      <span class="highlighted"><%= name %></span>
    <% end %>
  </span>
</section>
<section id="header-links">
  <%= form_tag refresh_path do %>
    <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale.to_s), :onchange => 'this.form.submit()' %>
  <% end %>
  <% if user_signed_in? %>
    <span class="button user-button"><%= link_to current_user.to_s, edit_user_registration_path %></span>
    <span class="separator">•</span>
    <span class="button cancel-button"><%= link_to t('banner.signout'), destroy_user_session_path, :method => :delete %></span>
  <% else %>
    <span class="button user-button"><%= link_to I18n.t('devise.sign_in'), new_session_path("user") %></span>
  <% end %>
</section>
<section id="workspaces"><%= render :partial => "layouts/workspaces" %></section>