<% breadcrumbs = display_breadcrumbs(session[:breadcrumb_table]).html_safe %>
<% if breadcrumbs.present? and breadcrumbs != "" %> 
  <section id="breadcrumbs">
    <article>
      <span id="breadcrumb-title" class="button">
        <%= icon('previous') + ("&nbsp;" + I18n.t('general.back_to')).html_safe %>
      </span>
      <div class="slideButton">
        <input type="checkbox" id="breadcrumb-button"  <%= session[:show_breadcrumb] ? 'checked' : '' %> />
        <label for="breadcrumb-button"></label>
      </div>
      <section id="breadcrumb-content" style="display: none;"></section>
      <script>
        function showBreadcrumb(updateFlag) {
          if ($("#breadcrumb-button").attr('checked')) {
            $("#breadcrumb-content").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
            $("#breadcrumb-content").show();
            $("#breadcrumb-content").html("<%= escape_javascript(breadcrumbs) %>");
            if(updateFlag) {
              $.ajax("<%= url_for(set_path(:flag => "show_breadcrumb")) %>");
            }
            $("#breadcrumb-title").addClass("highlighted");
          } 
          else {
            $("#breadcrumb-title").removeClass("highlighted");
            $("#breadcrumb-content").hide();
            if(updateFlag) {
              $.ajax("<%= url_for(unset_path(:flag => "show_breadcrumb")) %>");
            }
          }
        };
        showBreadcrumb(false);
        $("#breadcrumb-button").click(function (event){
          showBreadcrumb(true);
        });
      </script>
    </article>
  </section>
<% end %>