<% if session[:history_table].present? %>
  <article>
    <span id="history-title" class="button">
      <%= icon('history') + ("&nbsp;" + t('banner.history')).html_safe %>
    </span>
    <div class="slideButton">
      <input type="checkbox" id="history-button" <%= session[:show_history] ? 'checked' : '' %> />
      <label for="history-button"></label>
    </div>
    <section id="history-content" style="display: none;"></section>
    <script>
      function showHistory() {
        if ($("#history-button").attr('checked')) {
          $("#history-content").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
          $("#history-content").show();
          $("#history-content").load("<%= url_for(history_path) %>");
          $("#history-title").addClass("highlighted");
        } 
        else {
          $("#history-title").removeClass("highlighted");
          $("#history-content").hide();
          $.ajax("<%= url_for(unset_path(:flag => "show_history")) %>");
        }
      };
      showHistory();
      $("#history-button").click(function (event){
        showHistory();
      });
    </script>
  </article>
<% end %>