<% if flash[:notice] -%><section class='notice'><%= icon('information') %> <%= flash[:notice] %></section><% end -%>
<% if flash[:error] -%><section class='error'><%= icon('exclamation') %> <%= flash[:error] %></section><% end -%>
<%= render :partial => "layouts/asofdate" %>
<%= render :partial => 'layouts/breadcrumbs' %>
<%= yield :navigator %>
<%= render :partial => 'layouts/footer' %>