<div id="show-navigator" class="slideButton">
  <input type="checkbox" id="navigator-button" <%= session[:hide_navigator] ? '' : 'checked' %> />
  <label for="navigator-button"></label>
</div>
<nav>
  <span class="button">
    <%= link_to_unless_current(t('general.home').html_safe, root_path) do |name| %>
      <span class="highlighted"><%= name %></span>
    <% end %>
  </span>
  <% unless @workspaces.nil? %>
    <% for row in @workspaces %>
      <span class="separator">|</span>
      <span class="button" title="<%= row.description.html_safe %>">
          <%= link_to_unless_current(
                row.name.html_safe,
                show_workspace_path(:workspace => row.display_uri)) do |name| %>
            <span class="highlighted"><%= name %></span>
          <% end %>
      </span>
    <% end %>
  <% end %>
</nav>