<article class="highlighted">
  <header class="action-header">
    <%= I18n.t('field.attachments') %>
    <%= @page_title.html_safe %>
  </header> 
  <% if @grid.present? and @row.present? %>
    <%= form_for(
                @row_attachment,
                :as => :row_attachment,  
                :url => {:action => 'save_attachment',
                         :grid_id => @grid.uuid, 
                         :id => @row.uuid}, 
                :html => {:multipart => true}) do |f| %>
      <%= render :partial => 'entities/error_messages', :locals => { :item => @row_attachement } %>
      <aside class="actions">
        <% if @row.has_attachment? %>
          <table class="form">
            <% for document in @row.row_attachments %>
              <% if document.photo? %>
                <tr>
                  <td class="header">
                    <img src="<%= url_for(:action => 'photo', 
                                          :grid_id => @grid.uuid,
                                          :id => @row.uuid,
                                          :photo_id => document.id) %>", height=12 />
                  </td>
                  <td class="string">
                    <%= document.file_name %>
                    <%= link_to icon('remove') + ("&nbsp;" + I18n.t('actions.delete')).html_safe, 
  		                       {:grid_id => @grid.uuid, :id => @row.uuid, :file_id => document.id, :action => "delete_attachment"}, 
  		                       :confirm => I18n.t('message.delete',  :object => document.file_name),
  													 :method => :delete %>
  								</td>
  							</tr>
  				    <% end %>
  				  <% end %>
  				  <% for document in @row.row_attachments %>
  				    <% if document.document? %>
  				      <tr>
                  <td class="header">
                    <%= icon "document" %>
                  </td>
  				        <td class="string">
  				          <%= document.file_name %>
  		              <%= link_to icon('remove') + ("&nbsp;" + I18n.t('actions.delete')).html_safe, 
  		                       {:grid_id => @grid.uuid, :id => @row.uuid, :file_id => document.id, :action => "delete_attachment"}, 
  		                       :confirm => I18n.t('message.delete', :object => document.file_name),
  		                       :method => :delete %>
  				        </td>
  				      </tr>
  				    <% end %>
  				  <% end %>
  				</table>
  		  <% end %>
        <a href="<%= session[:last_url] %>"><%= icon('close') + ("&nbsp;" + I18n.t('actions.cancel')).html_safe %></a>
        <%= f.file_field :attach_document %>
        <div class="button"><%= f.submit I18n.t('actions.attach') %></div>
  	  </aside>
    <% end %>
  <% else %>
    <%= icon "exclamation" %>
    <%= I18n.t('error.no_data') %>
  <% end %>
</article>