<section class="dialog">
  <% if @grid.present? and @row.present? %>
  	<%= grid_form_for([@grid, @row], {:onsubmit=>'return false;'}) do |f| %>
      <header class="action-header">
        <%= t 'actions.edit' %>
        <%=h @page_title %>
      </header> 
  	  <%= render :partial => "edit", 
                 :locals => {:f => f, 
                             :parent => @grid, 
                             :entity => @row,
                             :filters => params[:filters]} %>
      <footer class="actions">
        <div class="validation-error"></div>
        <span class="button">
          <%= t 'field.begin_date' %>
          <%= f.text_field 'begin_date', 
                           :size => "10x1" %>
        </span>
        <span class="button">
          <%= radio_button_tag :mode, :correction, true %>&nbsp;<%= t 'version.update' %>
          <%= radio_button_tag :mode, :new_version %>&nbsp;<%= t 'version.new' %>
        </span>
        <span class="button">
          <%= f.check_box :enabled, {}, "t", "f" %>&nbsp;<%= t 'field.active' %>
        </span>
        <span class="button">
          <a id="cancel" href="#"><%= t 'actions.cancel' %></a>
        </span>
        <span class="button">
          <%= f.submit t('actions.ok') %>
        </span>
      </footer>
  	<% end %>
  <% end %>
</section>
<script>
  $("#cancel").click(function (event){
    $("#row-dialog").empty();
  });
</script>