<section class="dialog">
  <header class="action-header">
    <%=t 'actions.edit' %>
    <%=h @page_title %>
  </header> 
  <% if @grid.present? and @row.present? %>
  	<%= grid_form_for([@grid, @row], {:onsubmit=>'return false;'}) do |f| %>
  	  <%= render :partial => "edit", 
                 :locals => {:f => f, 
                             :parent => @grid, 
                             :entity => @row,
                             :filters => params[:filters]} %>
  	  <%= render :partial => 'entities/actions_edit_inline', 
                 :locals => {:f => f, :entity => @row} %>
  	<% end %>
  <% end %>
</section>