<table class="form">
  <% if @grid.has_translation? and @grid.has_name? %>
    <tr id="header-name">
      <td class="header"><%= f.label :name, :class => "required" %></td>
      <td class="string">
        <%= text_field_tag :name, 
                           @row_loc.name, 
                           :size => "70x1" %>
      </td>
    </tr>
	<% end %>
  <% for column in parent.column_all %>
    <% description = column.description.present? ? 
          ("<span title='#{column.description}'> " + icon("information") + "</span>") : 
          "" %>
    <%= f.edit_entity(@row, column, description) %>
  <% end %>
  <% if @grid.has_translation? and @grid.has_description? %>
    <tr id="header-description">
      <td class="header"><%= f.label :description %></td>
      <td class="string"><%= text_area_tag :description, 
                                           @row_loc.description, 
                                           :size => "70x10" %></td>
    </tr>
  <% end %>
</table>