<% if @table_rows.length > 0 %>
  <table class="filter">
    <%= display_filters(@grid, @filters, defined?(@search) ? @search : nil).html_safe %>
  </table>
  <table>
    <thead>
      <tr>
        <th class="list-header-string"><%=h @grid.name %></th>
        <% for column in @table_columns %>
          <%= show_header_label(column.kind, 
                                column.name.html_safe, 
                                column.description.html_safe, 
                                true) %>
        <% end %>
        <th class="list-header-string"></th>
      </tr>
    </thead>
    <tbody>
      <% init_row_index(params[:page]) %>
      <% for row in @table_rows %>
        <tr>
          <td class="list-description">
            <span title="<%= trunc(row.description.html_safe) %>">
              <% if @grid.has_name? %>
                <%= link_to @grid.row_title(row).html_safe, 
                              :controller => 'rows', 
                              :action => 'show', 
                              :grid_id => @grid.uuid, 
                              :id => row.uuid %>
              <% else %>
                <%= link_to icon('blueright'),
                            :controller => 'rows', 
                            :action => 'show', 
                            :grid_id => @grid.uuid, 
                            :id => row.uuid %>
              <% end %>
            </span>
            <%= display_information(row) %>
            <span class="detail"><%= display_updated_date(row).html_safe %></span>
          </td>
          <% init_column_index %>
          <% for column in @table_columns %>
            <%= show_entity_in_list(
            	      column, 
                    row.read_value(column),
                    ((column.grid_reference_uuid.present? and row.read_value(column).present?) ?
                        link_to(row.read_referenced_name(column), 
                        :controller => 'rows', 
                        :action => 'show', 
                        :grid_id => column.grid_reference_uuid, 
                        :id => row.read_value(column)) :
                        ""),
                    row.read_referenced_name(column)) %>
          <% end %>
          <td class="column-header">
            <% if user_signed_in? and @grid.can_update?(row) %>
              <%= link_to(icon('edit'), 
                    {:controller => 'rows', 
                     :action => "edit", 
                     :grid_id => @grid.uuid, 
                     :id => row.id},
                    :remote => true) %>
              <%= link_to(icon('remove'), 
                    {:controller => 'rows', 
                     :grid_id => @grid.uuid, 
                     :id => row.id, 
                     :inline => true, :action => "destroy"}, 
                    :confirm => t('message.delete', :name => row.to_s),
                    :method => :delete) %>
            <% else %>
              <%= icon('locked') %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= show_collection_count(@table_rows, @table_row_count, params[:page]) %>
<% if not_all_rows(@table_row_count) %><%= icon('warning') %><% end %>
<footer id=<%= "actions-"  + @grid.uuid + "-" + get_filters_uuid(@filters) %> 
        class="actions" 
        style="display: none;">
  <% if not_last_page(params[:page], @table_row_count) %>
    <%= link_to icon('down') + ("&nbsp;" + t('general.next_rows')).html_safe, 
         :controller => 'rows', :action => 'index', :grid_id => @grid.uuid,
         :filters => @filters,
         :page => calc_next_page(params[:page]) %>
  <% end %>
  <% if not_first_page(params[:page]) %>
    <%= link_to icon('up') + ("&nbsp;" + t('general.prev_rows')).html_safe, 
         :controller => 'rows', :action => 'index', :grid_id => @grid.uuid,
         :filters => @filters,
         :page => calc_previous_page(params[:page]) %>
    <%= link_to icon('previous') + ("&nbsp;" + t('general.first_rows')).html_safe, 
         :controller => 'rows', :action => 'index', :grid_id => @grid.uuid, 
         :filters => @filters,
         :page => 1 %>
  <% end %>
  <% if user_signed_in? and @grid.can_create_data?(@filters) %>
    <span title="Create a new row of data for the corresponding data grid." class="button">
      <a id="<%= "create-" + @grid.uuid + "-" + get_filters_uuid(@filters) %>">
        <%= icon('plus') %>
        <%= t 'actions.create' %>
      </a>
    </span>
    <script>
      $("#<%= "create-" + @grid.uuid + "-" + get_filters_uuid(@filters) %>").click(function (event){
        $("#row-dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
        $("#row-dialog").load("<%= url_for({:action => :edit, 
                                            :grid_id => @grid.uuid, 
                                            :id => 0,
                                            :filters => @filters}) %>");
        $("#row-dialog").show(300);
      });
    </script>
  <% end %>
  <% if user_signed_in? and @grid.can_create_data?(@filters) %>
    <span title="Export rows in an .xml file." class="button">
      <%= link_to icon('export') + ("&nbsp;" + t('actions.export')).html_safe, 
            {:controller => 'rows', :action => 'index', :grid_id => @grid.uuid, 
            :filters => @filters,
            :page => -1,
            :format => :xml} %>
    </span>
  <% end %>
</footer>
<script>
  $("#<%= "list-" + @grid.uuid + "-" + get_filters_uuid(@filters) %>").hover(
    function (event){
      $("#<%= "actions-" + @grid.uuid + "-" + get_filters_uuid(@filters) %>").show(300);
    },
    function (event){
      $("#<%= "actions-" + @grid.uuid + "-" + get_filters_uuid(@filters) %>").hide(300);
    }
  );
</script>