<header>
  <h1>
    <%= @row.to_s.html_safe %>
    <span class="detail">
      <%= icon @page_icon %>
      <%= @grid.to_s.html_safe %>
      <%= display_grid_next_versions(@grid, @row).html_safe %>
      <%= display_locale(@row).html_safe if @grid.has_translation? %>
      <% if not @grid.can_update?(@row) %><span title="Data is locked"><%= icon "locked" %></span><% end %>
    </span>
  </h1>
</header>
<% columns = @grid.column_all %>
<% if not columns.empty? %>
  <table>
    <tbody>
      <% for column in @grid.column_all %>
        <%= show_entity(
              column, 
              @row.read_value(column),
              ((not column.grid_reference_uuid.nil? and not @row.read_value(column).nil?) ?  
                link_to(@row.read_referenced_name(column), 
                            :controller => 'rows', 
                            :action => 'show',  
                            :grid_id => column.grid_reference_uuid, 
                            :id => @row.read_value(column)) : ""),
              @row.read_referenced_name(column),
              @row.read_referenced_description(column)
         ) %>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @grid.has_translation? and @row_loc.description.present? %>
  <% if not columns.empty? %><br/><% end %>
  <p><%= no_trunc(@row_loc.description.html_safe) %></p>
<% end %>
<% if user_signed_in? and @grid.can_update?(@row) %>
  <div id="actions-<%= @row.uuid %>" 
          class="actions float-actions" 
          style="display: none;">
    <span class="button" title="Update current data or create a new version.">
      <a id="update-<%= @row.uuid %>"><%= icon('edit') %> <%= t 'actions.edit' %></a>
    </span>
    <span class="button" title="Delete current data.">
      <%= link_to icon('remove') + ("&nbsp;" + t('actions.delete')).html_safe, 
         {:grid_id => @grid.uuid, :id => @row.id, :action => "destroy"}, 
          :confirm => t('message.delete', :name => @row.to_s), 
          :method => :delete %>
    </span>
    <span class="button" title="Add or remove attachment (photo or document) to current data.">
      <%= link_to icon('attachments') + ("&nbsp;" + t('field.attachments')).html_safe, 
         {:action => "attach_document", :grid_id => @grid.uuid, :id => @row.uuid},
         :remote => true %>
    </span>
    <span class="button" style="display: none;">
      <%= link_to icon('import') + "&nbsp;Import data".html_safe, :action => 'import', :grid_id => @grid.uuid, :id => 0 %>
    </span>
    <span class="button" title="Export current data into a XML file.">
      <%= link_to icon('export') + ("&nbsp;" + t('actions.export')).html_safe, 
         {:grid_id => @grid.uuid, 
          :id => @row.uuid, 
          :action => :show, 
          :format => :xml} %>
    </span>
    <script>
      $("#row-<%= @row.uuid %>").hover(
        function (event){
          var left = $(this).offset().left+$(this).width()/2-$("#actions-<%= @row.uuid %>").width()/2;
          var top = $(this).offset().top+5;
          $("#actions-<%= @row.uuid %>").css({left:left,top:top}).fadeIn(300);
          $(this).addClass("highlighted");
        },
        function (event){
          $("#actions-<%= @row.uuid %>").fadeOut(3);
          $(this).removeClass("highlighted");
        }
      );
      $("#update-<%= @row.uuid %>").click(function (event){
        var top = $("#actions-<%= @row.uuid %>").offset().top+15;
        var left = $("#document").offset().left+5;
        var width = $("#document").width()-35;
        $("#row-dialog").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
        $("#row-dialog").css({left:left, top:top, width:width}).show(300);
        $("#row-dialog").load("<%= url_for({:action => :edit, 
                                            :grid_id => @grid.uuid, 
                                            :id => @row.uuid,
                                            :container => "#row-#{@row.uuid}"}) %>");
      });
    </script>
  </div>
<% end %>