<% @grid.load_cached_grid_structure(params[:filters]) if @grid.present? %>
<section class="sidebar">
  <% if @grid.present? %>
    <article class="article">
      <ul>
        <li>
          <%= link_to_unless_current icon('table') + ("&nbsp;" + I18n.t('general.grid_design')).html_safe, 
                                     :controller => 'rows', :action => 'show', :grid_id => Grid::ROOT_UUID, :id => @grid.uuid %>
        </li>
        <% if @grid.has_translation? %>
          <li class="form">
            <%= form_tag('javascript:void(0)') do %>
             <%= icon('lookup') %>&nbsp;<%= I18n.t('general.search') %>
              <%= text_field_tag :search, "", :size => "30x1" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </article>
  <% end %>
</section>
      
<section class="content3-4">
  <article class="highlighted">
    <% if @grid.present? %>
      <header>
        <h1>
          <%= bigicon @page_icon %>
          <span class="title"><%= @grid.to_s.html_safe %></span>
          <% if not @grid.description.blank? %>
            <span title="<%= @grid.description.html_safe %>"><%= icon('information') %></span>
          <% end %>
          <span class="detail-article">
            <% if not @grid.can_update_data? %><span title="Data is locked"><%= icon "locked" %></span><% end %>
          </span>
        </h1>
      </header>
      <%= render :partial => "list", 
                 :locals => { 
                    :embedded => false,
                    :full => true, 
                    :grid => @grid, 
                    :search => '', 
                    :filters => params[:filters], 
                    :table_row_count => @grid.row_count(params[:filters]),
                    :table_rows => @grid.row_all(params[:filters], '', params[:page], true), 
                    :table_columns => @grid.filtered_columns } %>
    <% else %>
      <h1><%= icon "exclamation" %> <%= @page_title %></h1>
    <% end %>
  </article>
</section>