<% @grid.load_cached_grid_structure(params[:filters]) if @grid.present? %>

<% content_for :navigator do %>
  <% if @grid.present? %>
    <article class="article">
      <ul>
        <li>
          <%= @grid.to_s.html_safe %>
          <% if not @grid.description.blank? %>
            <span title="<%= @grid.description.html_safe %>"><%= icon('information') %></span>
          <% end %>
        </li>
        <li>
          <%= link_to_unless_current icon('table') + ("&nbsp;" + I18n.t('general.grid_design')).html_safe, 
                                     :controller => 'rows', :action => 'show', :grid_id => Grid::ROOT_UUID, :id => @grid.uuid %>
        </li>
      </ul>
    </article>
      <% if @grid.has_translation? %>
        <article class="article">
          <aside class="actions">
            <%= form_tag({:controller => 'rows', :action => :search, :grid_id => @grid.uuid, :id => 0, :filters => params[:filters]}, 
                          :remote => true,
                          :id => 'search-form') do %>
              <%= text_field_tag :search, params[:search], :size => "20x1" %>
              <div class="button"><%= icon('lookup') %>&nbsp;<%= submit_tag I18n.t("general.search") %></div>
            <% end %>
          </aside>
        </article>
      <% end %>
  <% end %>
<% end %>
      
<% content_for :document do %>
  <% if @grid.present? %>
    <article class="article">
      <header class="header-article-level2">
        <h1>
          <span class="title"><%= @grid.to_s.html_safe %></span>
          <span class="detail">
            <% if not @grid.can_update_data? %><span title="Data is locked"><%= icon "locked" %></span><% end %>
          </span>
        </h1>
      </header>
      <div id="search-list"><%= render :partial => "home/loading" %></div>
      <script>
        $("#search-list").load("<%= url_for(:action => :search_list, 
                                     :grid_id => @grid.uuid,
                                     :id => 0) %>");
      </script>
    </article>
  <% else %>
    <h1><%= icon "exclamation" %> <%= @page_title %></h1>
  <% end %>
<% end %>