<% unless @grid.blank? or @row.blank? %>
  <article id="row-<%= @row.uuid %>">
    <header>
      <h1>
        <%= @row.to_s.html_safe %>
        <span class="detail"><%= icon @page_icon %></span>
      </h1>
    </header>
    <%= render :partial => "layouts/loading" %>
  </article>
  <script>
    $("#row-<%= @row.uuid %>").load(
      "<%= url_for(:action => :row, 
                   :grid_id => @grid.uuid,
                   :id => @row.uuid) %>");
  </script>
  <% unless @grid_cast.nil? or not @grid_cast.can_select_data? %>
    <article id="row-<%= @grid_cast.uuid + "-" %>">
      <header>
        <h2>
          <%= t 'field.data' %>
          <span class="detail">
            <%= icon 'table' %>
            <%= @row.to_s.html_safe %>
          </span>
        </h2>
      </header>
      <div id="list-<%= @grid_cast.uuid + "-" %>">
        <%= render :partial => "layouts/loading" %>
      </div>
    </article>
    <script>
      $("#list-<%= @grid_cast.uuid + "-" %>").load(
        "<%= url_for(:action => :list, 
                     :grid_id => @grid_cast.uuid,
                     :id => 0) %>");
    </script>
  <% end %>
  <% unless @attached_grids.nil? or @attached_grids.empty? %>
    <% for attached_grid in @attached_grids %>
      <% filters = [{:column_uuid => attached_grid.column_uuid,
                     :row_uuid => @row.uuid,
                     :row_name => @row.name}] %>
      <article id="row-<%= attached_grid.uuid + "-" + get_filters_uuid(filters) %>">
        <header>
          <h2>
            <%= attached_grid.name.html_safe %>
            <span class="detail">
              <%= icon 'table' %>
              <%= attached_grid.column_name.html_safe %>
            </span>
          </h2>
        </header>
        <div id="list-<%= attached_grid.uuid + "-" + get_filters_uuid(filters) %>">
          <%= render :partial => "layouts/loading" %>
        </div>
      </article>
      <script>
        $("#list-<%= attached_grid.uuid + "-" + get_filters_uuid(filters) %>").load(
          "<%= url_for(:action => :list, 
                       :grid_id => attached_grid.uuid,
                       :id => 0,
                       :filters => filters) %>");
      </script>
    <% end %>
  <% end %>
  <%= render :partial => 'navigation' %>
<% else %>
  <div class="bigicon"><%= bigicon @page_icon %></div>
  <h1><%= @page_title %></h1>
  <p><%= t 'error.not_found' %><p>
<% end %>