<% @grid_cast = Row.select_grid_cast(@grid.uuid, @row.uuid) if @grid.present? and @row.present? %>
<% content_for :navigator do %>
  <% unless @grid.blank? or @row.blank? %>
    <% if @grid.present? and @row.present? %>
      <article>
        <% if user_signed_in? %>
          <span id="more-title" class="button">
            <%= icon('information') + ("&nbsp;" + t('actions.more')).html_safe %>
          </span>
          <div class="slideButton">
            <input type="checkbox" id="more-button" <%= session[:show_details] ? 'checked' : '' %> />
            <label for="more-button"></label>
          </div>
          <section id="more-content" style="display: none;"></section>
          <script>
            function showDetails() {
              if ($("#more-button").attr('checked')) {
                $("#more-content").html('<%= escape_javascript(render :partial => "layouts/loading") %>');
                $("#more-content").show(300);
                $("#more-content").load("<%= url_for(:action => "details", :grid_id => @grid.uuid, :id => @row.id) %>");
                $("#more-title").addClass("highlighted");
              } 
              else {
                $("#more-title").removeClass("highlighted");
                $("#more-content").hide(300);
                $.ajax("<%= url_for(unset_path(:flag => "show_details")) %>");
              }
            };
            showDetails();
            $("#more-button").click(function (event){
              showDetails();
            });
          </script>
        <% end %>
      </article>
    <% end %>
    <article>
      <ul>
        <% if @grid.uuid != Grid::ROOT_UUID %>
          <li>
            <%= icon('table') %>
            <%= link_to_unless_current @grid.name.html_safe, 
                                       :controller => 'rows', 
                                       :action => 'show', 
                                       :grid_id => Grid::ROOT_UUID, 
                                       :id => @grid.uuid %>
          </li>
        <% end %>
        <% if @grid.present? and @row.present? %>
          <% if @row.has_attachment? %>
              <% if @row.has_photo? %>
                <% for document in @row.row_attachments %>
                  <% if document.photo? %>
                    <li>
                      <img src="<%= url_for(:action => 'photo', 
                                            :grid_id => @grid.uuid, 
                                            :id => @row.uuid, 
                                            :photo_id => document.id) %>", height=128/>
                    </li>
                  <% end %>
                <% end %>
               <% end %>
              <% if @row.has_document? %>
                <% for document in @row.row_attachments %>
                  <% if document.document? %>
                    <li>
                      <%= icon "document" %>
                      <a href="<%= url_for(:action => 'file', 
                                           :grid_id => @grid.uuid, 
                                           :id => @row.uuid, 
                                           :file_id => document.id) %>">
                        <%= document.file_name %></a>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
           <% for attached_grid in Grid.select_referenced_grids(@grid.uuid) %>
              <% @filters = [{:column_uuid => attached_grid.column_uuid, :row_uuid => @row.uuid, :row_name => @row.name}] %>
              <li>
                <span class="button">
                  <span class="highlighted">
                    <%= link_to_unless_current attached_grid.name, :controller => 'rows', :action => 'index', :grid_id => attached_grid.uuid, :filters => @filters %>
                    <%= icon "external" %> 
                  </span>
                </span>
                <span class="detail"><%= attached_grid.column_name.html_safe %></span>
              </li>
          <% end %>
          <% if @grid.uuid == Grid::ROOT_UUID %>
            <% for attached_grid in Grid.select_referenced_grids(@row.uuid) %>
              <li>
                <%= icon "table" %> 
                <%= link_to_unless_current attached_grid.name, 
                                           :controller => 'rows', :action => 'show', :grid_id => Grid::ROOT_UUID,
                                         :id => attached_grid.uuid %>
                <span class="detail"><%= attached_grid.column_name.html_safe %></span>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </article>
  <% end %>
<% end %>
<% unless @grid.blank? or @row.blank? %>
  <section id="details">
    <%= render :partial => 'row', 
               :locals => { 
                 :grid => @grid, 
                 :row => @row, 
                 :row_loc => @row_loc } %>
  </section>
  <% if @grid_cast.present? and @grid_cast.can_select_data? %>
    <article>
      <header class="header-article-level2">
        <h2><span class="title"><%= t 'rows.title' %></span></h2>
      </header>
      <div id="<%=h "list-" + @grid_cast.uuid + "-" %>"></div>
      <script>
        $("#<%=h "list-" + @grid_cast.uuid + "-" %>").load(
          "<%= url_for(:action => :list, 
                       :grid_id => @grid_cast.uuid,
                       :id => 0) %>");
      </script>
    </article>
  <% end %>
  <% for attached_grid in Grid.select_referenced_grids(@grid.uuid) %>
    <% @filters = [{:column_uuid => attached_grid.column_uuid, 
                    :row_uuid => @row.uuid, :row_name => @row.name}] %>
    <article>
      <header class="header-article-level2">
        <h2>
          <span class="title"><%= attached_grid.name.html_safe %></span>
          <span class="detail"><%= attached_grid.column_name.html_safe %></span>
        </h2>
      </header>
      <div id="<%= "list-" + attached_grid.uuid + "-" + get_filters_uuid(@filters) %>"></div>
      <script>
        $("#<%= "list-" + attached_grid.uuid + "-" + get_filters_uuid(@filters) %>").load(
          "<%= url_for(:action => :list, 
                       :grid_id => attached_grid.uuid,
                       :id => 0,
                       :filters => @filters) %>");
      </script>
    </article>
  <% end %>
<% else %>
  <div class="bigicon"><%= bigicon @page_icon %></div>
  <h1><%= @page_title %></h1>
  <p><%= t 'error.not_found' %><p>
<% end %>